.root {
    -fx-focus-traversable: false;
}

.scroll-bar:vertical {
	-fx-background-color: transparent;
	-fx-border-width: 0;
	-fx-pref-width: 12px;
}

.scroll-bar:vertical .track
{
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}
 
.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button
{
	-fx-background-color: transparent;
	-fx-padding: 0 10 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow{
	-fx-shape:"";
	-fx-padding:0;	
}

.scroll-bar:vertical .thumb
{
	-fx-background-color: white;
	-fx-pref-height: 10px;
}

.scroll-bar:vertical .thumb:hover {
    -fx-background-color: #2199dd;
}

.scroll-pane .viewport {
	-fx-background-color: transparent;
}

.choice-box {
    -fx-mark-color: #2199dd;
}

.choice-box .context-menu {
    -fx-background-color: #121212;
}

.choice-box .label {
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 0 0 0 10px;
}

.date-picker {
    -fx-background-insets: 0;
    -fx-border-color: #2199dd;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-background-color: transparent;
    -fx-focus-color: transparent;
}

.date-picker .text-field {
    -fx-background-color: #121212;
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-font-family: Segoe UI;
    -fx-font-size: 16px;
    -fx-padding: 0;
    -fx-focus-traversable: false;
    -fx-opacity: 1;
}

.date-picker .arrow-button {
    -fx-background-color: transparent;
}

.date-picker .arrow-button:hover .arrow {
    -fx-background-color: white;
}

.date-picker .arrow-button .arrow {
    -fx-background-color: #2199dd;
    -fx-font-size: 20px;
}

.date-picker-popup {
    -fx-background-color: #121212;
}

.date-picker-popup .date-cell {
    -fx-background-color: #121212;
    -fx-border-color: #121212;
}

.date-picker-popup .date-cell .text {
    -fx-fill: white;
    -fx-font-size: 14px;
    -fx-font-family: Segoe UI;
}

.date-picker-popup .day-cell:hover {
    -fx-background-color: #2199dd;
}

.date-picker-popup .today {
    -fx-background-color: rgb(90, 10, 65);
}

.date-picker-popup .selected {
    -fx-background-color: #2199dd;
}

.date-picker-popup .previous-month,
.date-picker-popup .next-month {
    -fx-background-color: #484848;
    -fx-border-color: #484848;
}

.date-picker-popup .spinner-label {
    -fx-font-family: Segoe UI;
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

.date-picker-popup .spinner .left-arrow,
.date-picker-popup .spinner .right-arrow {
    -fx-background-color: white;
    -fx-border-color: white;
    -fx-font-size: 16px;
}

.date-picker-popup .spinner .left-arrow:hover,
.date-picker-popup .spinner .right-arrow:hover {
    -fx-background-color: #121212;
    -fx-border-color: #121212;
    -fx-font-size: 24px;
}

.date-picker-popup .month-year-pane {
    -fx-background-color: #2199dd;
}

.date-picker-popup .month-year-pane .button {
    -fx-background-insets: 0;
}

.date-picker-popup .month-year-pane .button:hover,
.date-picker-popup .month-year-pane .button:focused {
    -fx-background-color: #2199dd;
}

#dashvbox .button {
    -fx-background-color: #2199dd;
    -fx-alignment: baseline_left;
    -fx-border-color: white;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-background-radius: 0;
    -fx-cursor: HAND;
}

#accpw, #accdelete, #accsave, #incomeopen, #incomeclose, #incomerequest, #cartdone, #psinc, #psdec,
 #cartcontinue {
    -fx-background-color: transparent;
    -fx-border-width: 2px;
    -fx-border-radius: 50%;
    -fx-padding: 0;
    -fx-focus-traversable: false;
}

#cartdelete, #stpsave, #stpdecline, #pssave, #psdecline, #notificationok, #alertok, #alertcancel, #storageproductmodificationtype {
    -fx-background-color: transparent;
    -fx-border-width: 2px;
    -fx-border-radius: 50%;
    -fx-focus-traversable: false;
}

#accpw, #incomeopen, #incomeclose, #incomerequest, #cartcontinue, #psinc, #psdec, #storagevbox .button, #notificationok,
 #storageproductmodificationtype {
    -fx-border-color: #2199dd;
}

#accdelete, #cartdelete, #stpdecline, #psdecline, #cartvbox .button, #alertcancel {
    -fx-border-color: rgb(220, 40, 40);
}

#accsave, #cartdone, #stpsave, #pssave, #alertok {
    -fx-border-color: rgb(40, 220, 40);
}

#accpw:hover, #accdelete:hover, #accsave:hover, #purchasecart:hover, #incomeopen:hover, #incomeclose:hover,
 #incomerequest:hover, #storagevbox .button:hover, #cartdelete:hover, #cartdone:hover, #cartcontinue:hover, #cartvbox .button:hover,
  #stpsave:hover, #stpdecline:hover, #pssave:hover, #psdecline:hover, #psinc:hover, #psdec:hover, #notificationok:hover,
   #alertok:hover, #alertcancel:hover, #storageproductmodificationtype:hover {
    -fx-border-color: white;
}

#purchasecart {
    -fx-background-color: transparent;
    -fx-border-color: #2199dd;
    -fx-border-width: 2px;
    -fx-border-radius: 50%;
    -fx-background-image: url('../images/shopbtnbg.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 0;
    -fx-focus-traversable: false;
}

#storagevbox .button, #cartvbox .button {
    -fx-background-color: transparent;
    -fx-border-width: 2px;
    -fx-border-radius: 50%;
    -fx-text-fill: white;
    -fx-text-family: Segoe UI;
    -fx-font-size: 14px;
    -fx-cursor: HAND;
    -fx-focus-traversable: false;
}

#leftfield {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-border-color: #2199dd;
    -fx-text-fill: white;
    -fx-padding: 0;
    -fx-opacity: 1;
    -fx-focus-traversable: false;
}

#rightfield {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-border-color: #2199dd;
    -fx-text-fill: white;
    -fx-padding: 0;
    -fx-opacity: 1;
    -fx-alignment: BASELINE_RIGHT;
    -fx-focus-traversable: false;
}

.separator:horizontal > .line {
    -fx-background-color: #2199dd;
    -fx-border-color: transparent transparent transparent -fx-shadow-highlight-color,
            transparent transparent transparent -fx-text-box-border;
}